## Homework Week 5

1. In the given data set below, identify the number of missing values by column; handle the missing values using SimpleImputer from scikit-learn library:

- filling the missing values in col1 by most frequent number (hint: strategy='most_frequent').

```python
import pandas as pd
from io import StringIO

csv_data = \
'''
col1,col2
,2.0
,
10.0,11.0
1, 3 
1, 11
'''

df = pd.read_csv(StringIO(csv_data))
df
```
2. Explain the transformer and estimator in scikit-learn. What are the differences between them?
3. In the given data set below, standardize the numeric variables and generate the dummy variables for the categorical variables using one-hot encoding. 

```python
import pandas as pd
import numpy as np
np.random.seed(123)

df = pd.DataFrame(np.random.rand(10, 2),
                 columns = ['col1', 'col2'])
df['col3'] = list(''.join(np.random.choice(list('abc')) for _ in range(len(df))))
df
```
4. Assume col3 is the target, separate the original data set in #3 into 80% training and 20% test.
5. Load scikit-learn's diabetes data set by **load_diabetes()**, pick the top 3 most discriminative features using Random Forest.

```python

from sklearn import datasets
diabetes = datasets.load_diabetes()
X = diabetes.data
y = diabetes.target
```

**Problem 1:** In the given data set below, identify the number of missing values by column; handle the missing values using SimpleImputer from scikit-learn library:

filling the missing values in col1 by most frequent number (hint: strategy='most_frequent').

In [23]:
import pandas as pd
from io import StringIO

csv_data = \
'''
col1,col2
,2.0
,
10.0,11.0
1, 3 
1, 11
'''

df = pd.read_csv(StringIO(csv_data))
df

   col1  col2
0   NaN   2.0
1   NaN   NaN
2  10.0  11.0
3   1.0   3.0
4   1.0  11.0

In [24]:
#check for nulls by column name
df.isnull().sum()

col1    2
col2    1
dtype: int64

In [27]:
#impute missing values in column one using strategy='most_frequent'
from sklearn.impute import SimpleImputer
import numpy as np

col1 = pd.DataFrame(df['col1'])
imr = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imr = imr.fit(col1.values)
imputed_data = imr.transform(col1.values)

df['col1'] = imputed_data
df

   col1  col2
0   1.0   2.0
1   1.0   NaN
2  10.0  11.0
3   1.0   3.0
4   1.0  11.0

**Problem 2:** Explain the transformer and estimator in scikit-learn. What are the differences between them?

Transformers are object that transform the dataset in on that is ready to be used for modeling. Examples of these transformations are scaling and one-hot encoding.
Estimators are object that learn from the data, such as classification, regression, clustering, etc.
Typically, any number of transformation are completed prior to using the estimator.

**Problem 3:** In the given data set below, standardize the numeric variables and generate the dummy variables for the categorical variables using one-hot encoding.

In [28]:
import pandas as pd
import numpy as np
np.random.seed(123)

df = pd.DataFrame(np.random.rand(10, 2),
                 columns = ['col1', 'col2'])
df['col3'] = list(''.join(np.random.choice(list('abc')) for _ in range(len(df))))
df

       col1      col2 col3
0  0.696469  0.286139    a
1  0.226851  0.551315    b
2  0.719469  0.423106    a
3  0.980764  0.684830    b
4  0.480932  0.392118    a
5  0.343178  0.729050    a
6  0.438572  0.059678    a
7  0.398044  0.737995    c
8  0.182492  0.175452    b
9  0.531551  0.531828    b

In [36]:
from sklearn.preprocessing import StandardScaler

#standardize numeric variables
stdsc = StandardScaler()
df[['col1','col2']] = stdsc.fit_transform(df[['col1','col2']])
df

       col1      col2 col3
0  0.851375 -0.771721    a
1 -1.181920  0.424931    b
2  0.950957 -0.153632    a
3  2.082282  1.027441    b
4 -0.081833 -0.293475    a
5 -0.678263  1.226991    a
6 -0.265237 -1.793668    a
7 -0.440710  1.267360    c
8 -1.373984 -1.271218    b
9  0.137333  0.336991    b

In [40]:
#generate dummy variables for the categorical variables
#when applied to a dataframe, get_dummies only converts string columns
pd.get_dummies(df[['col1', 'col2', 'col3']], drop_first=True)

       col1      col2  col3_b  col3_c
0  0.851375 -0.771721       0       0
1 -1.181920  0.424931       1       0
2  0.950957 -0.153632       0       0
3  2.082282  1.027441       1       0
4 -0.081833 -0.293475       0       0
5 -0.678263  1.226991       0       0
6 -0.265237 -1.793668       0       0
7 -0.440710  1.267360       0       1
8 -1.373984 -1.271218       1       0
9  0.137333  0.336991       1       0


**Problem 4:** Assume col3 is the target, separate the original data set in #3 into 80% training and 20% test.

In [49]:
from sklearn.model_selection import train_test_split

#partition into 80% training and test 20% data sets.
X, y = df.iloc[:, 0:2].values, df.iloc[:, 2].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

array([[-0.08183286, -0.29347528],
       [ 0.13733337,  0.33699135],
       [-1.18192049,  0.42493074],
       [-0.26523672, -1.79366842],
       [-0.44071004,  1.26736044],
       [ 2.0822822 ,  1.02744088],
       [ 0.85137511, -0.77172075],
       [-0.67826343,  1.22699138]])

**Problem 5:** Load scikit-learn's diabetes data set by load_diabetes(), pick the top 3 most discriminative features using Random Forest.

In [65]:
from sklearn.ensemble import RandomForestClassifier

#load diabetes dataset
from sklearn import datasets
diabetes = datasets.load_diabetes()
X = diabetes.data
y = diabetes.target

#random forest
forest = RandomForestClassifier(n_estimators=500,
                                random_state=1, max_features=0.9)
forest.fit(X, y)
importances = forest.feature_importances_
feature_labels = diabetes.feature_names

#print importances and feature lables
print(importances)
print(feature_labels)

[0.11409523 0.02492896 0.12725053 0.11763565 0.10528139 0.10674859
 0.10892453 0.05404833 0.12294627 0.1181405 ]
['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']

In [64]:
#rank importance in decending order
indices = np.argsort(importances)[::-1]

for f in range(X.shape[1]):
    print("%2d) %-*s %f" % (f + 1, 30, 
                            feature_labels[indices[f]], 
                            importances[indices[f]]))

 1) bmi                            0.127251
 2) s5                             0.122946
 3) s6                             0.118140
 4) bp                             0.117636
 5) age                            0.114095
 6) s3                             0.108925
 7) s2                             0.106749
 8) s1                             0.105281
 9) s4                             0.054048
10) sex                            0.024929

The top 3 most discriminative feature are bmi, s5, and s6.